
<html>

<head>
    
    <meta http-equiv="content type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <link href="./css/style.css" rel="stylesheet">
    <link href="./css/bt.css" rel="stylesheet">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link href="./fonts/font.css" rel="stylesheet">
    <link href="./css/jquery-ui.css" rel="stylesheet">
    <script src="./js/jquery.js"></script>
    <script src="./js/jquery-ui.js"></script>
    <script src="./js/xml2json.js"></script>
    <script src="./js/jquery.tmpl.min.js"></script>
    <script src="./js/my.js"></script>
    <script src="./js/jquery.cookie.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Два гуся </title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm d-none d-sm-none d-md-none d-lg-block">
                <div class="m-3">
                    <input type="search" class="src">
                    <button type="button" class=bt>
                        <img src="./images/abtcomp.gif" class="image"> О компании
                    </button>
                    <button type="button" class=bt>
                        <img src="./images/shipping.gif" class="image"> Доставка
                    </button>
                    <h5 class="myh1">Товары наши хороши - </h5>
                    <h6 class="myh2">развивайтесь, малыши!</h6>
                </div>
            </div>
    
            <div class="col-sm">
                <div class="m-3">
                    <p class="text-center">
                        <img src="./images/logo.gif" class="image" alt="2 гусі">
                    </p>
                </div>
            </div>
    
            <div class="col-sm d-none d-sm-none d-md-none d-lg-block">
                <div class="m-3">
                    <img class="image" src="./images/call1.png" style="position:relative; top:-4px;">
                    <text class="smh1">8 (916) 227 1234</text>
                    <img class="image2" src="./images/time.png">
                    <input type="image" class="image2" src="./images/phone.png">
                </div>
            </div>
        </div>
    </div>

    <div class=container>   
        <div class="row justify-content-md-center"> 
                <div class="col md-auto">
                    <div class="md-3">
                        <text class="smh" style="font-size:15px;font-weight:5%"><a href="#" class=orng>Главная</a>>><a href="#"class=orng>Товары для детей</a>>><a href="#" class=orng>Коляски</a>>><a href="#" class=orng>Детские коляски</a></text>
                                  <br>
                                  <text class=smh style=font-size:35px >Носочки</text> <br>
                                  <form class="menuimg" style ="background-size: 100% 100%"><button class=btn>Сортировать :</button><button class=btn >По популярности</button><button class=btn>По цене</button><button class=btn>по цене и наличию</button><button class=btn>по брендам</button> </form><br>

    <div id="content">
    
    </div>
     </div>
     <form class="menuimg" style ="background-size: 100% 100%"><button class=lowbtn>Назад</button><button class=lowbtn >1</button><button class=lowbtn >2</button><button class=lowbtn >3</button><button class=lowbtn >4</button><button class=lowbtn >...</button><button class=lowbtn>Вперед</button><button class=lowbtn>по 10</button><button class=lowbtn>по 20</button><button class=lowbtn >по 30</button><button class=lowbtn >все</button> </form><br>
     </div>
    
     </div> 
     </div>
     

     <footer class=footer>
        <img src="./images/lg.png"  style="margin-top:100px;margin-left:60px;">
        <img src="./images/call.png"  style="margin-top:100px;margin-left:80px;">
        <text class="smh" style="position:relative;top:50px">8 (916) 227 1234</text>
        <img class="icon" src="./images/icons.gif" style="margin-top:90px;margin-left:80px">
        <img src="./images/gees.png"  style="margin-bottom:20px;margin-left:80px;">
    </footer>

<script id="prodTmpl" type="text/x-jquery-tmpl">
{{each product}}
<text class=bgimg8><br>
<a href=tovarc.html#cat_id=16&id=${id} class="zagol" style="font-size:15px;padding-top:15px;color:#f85c37">${title}
</a>
<br><br>
<div class="row justify-content-md-center" >
    <div class="col md-auto">
        <img src="img/${image}"
    </div>
</div>
    <div class="col md-auto">
      ${description}
    </div>
      <div class="col md-auto">
        <img src="./images/chk.png"><text class=smhgrn style=margin-bottom:25px> В наличии</text><br><br>
        <text >${price}</text><br>
        
                         <a href="#" data-id="${id}" data-name="${title}" data-link="./zakazcss.html" class="buy">
                        <input type="image" src="./images/buy.png" style="display: block; float: bottom left; margin-top:10px;">
                                                    </a>
                 </div>
 </div>
</div>
</text>
                        <br><br>
                        {{/each}}
</script>
    
<script>
    new MyShop('products.xml','category');
</script>
</body>